@tailwind base;
@tailwind components;

@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }
}

@layer utilities {
  .children-last-plan > *:last-child {
    margin-bottom: 0
  }
}

@font-face {
  font-family: "GeistMono";
  src: url("/static/fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
